.DS_Store
**/.DS_Store

.DerivedData*/
DerivedData/
**/DerivedData/

**/xcuserdata/
**/*.xcuserstate
**/*.xcscmblueprint
**/*.xccheckout

**/*.xcodeproj/project.xcworkspace/

__pycache__/
**/__pycache__/
*.pyc

